<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Completedtodos</title>
</head>
<body style="background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612752338_96-p-goluboi-fon-s-lapkami-141.jpg)">

{% extends 'todo/base.html' %}
{% block content %}
    <br>
{#    <div class="row justify-content-center mt-4">#}
{#        <div class="col-md-8 text-center">#}
    <div class="container" style="background-color: aliceblue">
    <br>
    <h1 align="center">Completed</h1>
<br>

<ol>
    {% for todo in todos %}

        <li>
            <a href =" {% url 'viewtodo' todo.id %}" style="color: black">
                {% if todo.imported %}<b>
                    {{ todo.title }} </b>
                {% else %} {{ todo.title }} {%  endif %}
        {% if todo.memo %} - {{ todo.memo }}{% endif %}
                {{ todo.date_comleted|date:'M j Y H:i' }}
            </a></li>

    {% endfor %}
</ol><br>

{% endblock %}
</div>

</body>
</html>